*

!.vscode
.vscode/*
!.vscode/settings.json

!.yarn
.yarn/*
.yarn/**/
.yarn/**/*
!.yarn/releases/
!.yarn/releases/*

!dist
dist/*
!dist/index.*js
!dist/index.*ts

!src
src/*
!src/*.ts

!tests
tests/*
!tests/*.ts

!.dcignore
!.eslintignore
!.gitignore
!.npmignore

!.editorconfig
!.eslintrc.yml
!.prettierrc.yml

!.yarnrc.yml
!package.json
!yarn.lock

!babel.config.js
!jest.config.js
!jsconfig.json
!tsconfig.eslint.json
!tsconfig.json

!LICENSE
!CHANGELOG.md
!README.md
